<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Send debug messages to System.out -->
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>log-%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory> 
        <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>3MB</maxFileSize>
    </triggeringPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
    </layout>
    <encoder>
        <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
    </encoder>
    <class-loading>
	</class-loading>
	</appender>

	<logger name=log-%d{yyyy-MM-dd}.log level="INFO" additivity="false">
            <appender-ref ref="STDOUT" />
	</logger>
    <loader-repository>
        com.hp:classloader=logback-slf4j
        <loader-repository-config>java2ParentDelegation=false</loader-repository-config>
    </loader-repository>

	<!-- By default, the level of the root level is set to DEBUG -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

